<div class="hero px-4 bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there!</h1>
      <p class="pt-6 pb-4">
        My name is Roy, and I am a mediocre software engineer. Most of the software I have built is web-based, but I also have experience with mobile apps. I have no professional experience, but I interned as a programmer at <a href="https://www.linkedin.com/company/upscale-indonesia" target="_blank" class="cursor-pointer underline text-sky-300">upscale.id</a> and <a href="https://id.linkedin.com/company/eduwork-id" target="_blank" class="cursor-pointer underline text-sky-300">Eduwork</a>.
      </p>
      <p class="py-4">
        Feel free to reach out if you need help with anything related to software development. Contact me on <a href="https://www.linkedin.com/in/roysr" target="_blank" class="cursor-pointer underline text-sky-300">LinkedIn</a>
      </p>
    </div>
  </div>
</div>